# **Data Mining/ Cleaning/ Wrangling**

## Objectives

1.   Identify duplicate values in the dataset.

2.   Remove duplicate values from the dataset.

3.   Identify missing values in the dataset.

4.   Impute the missing values in the dataset.

5.   Normalize data in the dataset.

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## 1. Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [4]:
print(len(df[df.duplicated()]))
# OR
print(df.duplicated().sum())

154
154

## 2. Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
df_wo_dup=df.drop_duplicates()

Verify if duplicates were actually dropped.

In [6]:
df_wo_dup.duplicated().any()

False

In [7]:
# resetting index as dropped rows indexes are eliminated
df_wo_dup.reset_index(drop=True, inplace=True)

## 3. Finding Missing values

Find the missing values for all columns.

In [8]:
df_wo_dup.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [9]:
df_wo_dup['WorkLoc'].isna().sum()

32

## 4. Imputing missing values

Find the  value counts for the column WorkLoc.

In [10]:
df_wo_dup['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [11]:
most_frequent_WorkLoc=df_wo_dup['WorkLoc'].value_counts().idxmax()
most_frequent_WorkLoc

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [12]:
df_wo_dup['WorkLoc'].fillna(most_frequent_WorkLoc,inplace=True)

C:\Anaconda_3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [13]:
df_wo_dup['WorkLoc'].isna().sum()

0

## 5. Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section we will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [14]:
df_wo_dup['CompFreq'].value_counts(dropna=False)

Yearly     6073
Monthly    4788
Weekly      331
NaN         206
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

In [15]:
# Creating new column
NormalizedAnnualCompensation=[]
for index, Freq in df_wo_dup[['CompFreq']].iterrows():
    if (Freq=='Yearly').bool():
        NormalizedAnnualCompensation.append(df_wo_dup.loc[index,'CompTotal'])
    if (Freq=='Monthly').bool():
        NormalizedAnnualCompensation.append(12 * df_wo_dup.loc[index,'CompTotal'])
    if (Freq=='Weekly').bool():
        NormalizedAnnualCompensation.append(52 * df_wo_dup.loc[index,'CompTotal'])
    if pd.isna(Freq).bool():                                                      # indexes where value is missing
        NormalizedAnnualCompensation.append(np.nan)
        
# Appending the new created column to the existing dataframe      
df_wo_dup['NormalizedAnnualCompensation']=NormalizedAnnualCompensation

C:\Users\Yogi\AppData\Local\Temp/ipykernel_7428/1536367203.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wo_dup['NormalizedAnnualCompensation']=NormalizedAnnualCompensation

In [16]:
df_wo_dup[['CompFreq','CompTotal','NormalizedAnnualCompensation']]

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11393   Yearly   130000.0                      130000.0
11394   Yearly    74400.0                       74400.0
11395   Yearly   105000.0                      105000.0
11396   Yearly    80000.0                       80000.0
11397      NaN        NaN                           NaN

[11398 rows x 3 columns]